
.modal-new-alert {
  .modal-content .close {
    padding: 10px 5px;
  }

  .modal-header {
    border-bottom-width: 0;
    padding: 25px 30px;
    position: relative;
  }

  .modal-title { margin-bottom: 0; }

  .modal-body {
    padding: 0 30px 15px;
  }

  .modal-footer {
    padding: 15px 30px 30px;
    border-top-width: 0;

    .btn {
      height: $height-base;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0;

      + .btn { margin-left: 10px; }
    }
  }

  .form-label {
    font-size: $font-size-sm;
    margin-bottom: 5px;
    letter-spacing: .2px;
    color: $color-tx-03;
  }

  input.form-control { height: $height-lg; }

  .form-control {
    color: $color-tx-02;
    font-size: $font-size-base;
    border-radius: 4px;
    border-color: $input-border-color;
    text-shadow: none;
    @include transition(all 0.25s);

    &:focus {
      border-color: lighten($color-ui-01, 10%);
      box-shadow: 0 1px 5px rgba($color-ui-02, .3), 0 0 0 .5px lighten($color-ui-01, 10%);
    }

    &::placeholder { color: $color-tx-03; }
  }

  .custom-radio:not(:last-child) { margin-bottom: 5px; }

  .select2-results__options[aria-multiselectable="true"] {
    .select2-results__option[aria-selected="true"] { display: none; }
  }
}

.alert-status {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-right: 5px;
  }

  &.active::before { background-color: $green; }
  &.paused::before { background-color: $yellow; }
}

.alert-status-text {
  font-size: $font-size-sm;
  color: $color-tx-02;
  padding-left: 24px;
  padding-bottom: 5px;
  position: relative;
  top: -3px;
}
