
.card-comprop {
  border-color: $color-bd-02;
  @include shadow-diffuse($color-bg-02);

  .card-header {
    background-color: transparent;
    border-bottom-width: 0;
    padding: 20px 23px;
  }

  .card-title {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    color: $color-tx-01;
  }

  .card-subtitle {
    font-size: $font-size-sm;
    color: $color-tx-03;
  }

  .card-body {
    padding: 0 23px 23px;
  }

  .item-group {
    position: relative;

    + .item-group { margin-top: 20px; }
  }

  .item-label {
    display: block;
    margin-bottom: 5px;
    line-height: 1;
    color: $color-tx-03;
    font-size: $font-size-sm;
  }

  .item-value {
    font-weight: 400;
    color: $color-tx-01;
    line-height: 1.5;
    display: flex;
    align-items: center;
  }

  .item-exlink {
    font-size: 14px;
    margin-left: 5px;
    line-height: 1;
    position: relative;
    top: 1.5px;
  }

  .item-list {
    margin: 0;
    padding: 0;
    list-style: inside;
  }

  .card-label {
    color: $color-tx-01;
    font-weight: 600;
  }

  .card-label a {
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    outline: none;

    i {
      line-height: 1;
      position: relative;
      top: 1px;
      @include transition(all 0.25s);
    }

    &.active i {
      transform: rotate(90deg);
    }
  }
}

.table-compete {
  border-spacing: 0 2px;

  thead th,
  tbody td {
    &:first-child {
      padding-left: 15px;
      @include border-left-radius(3px);
    }

    &:last-child {
      @include border-right-radius(3px);
      padding-right: 15px;
    }
  }

  thead th {
    color: $color-tx-01;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $color-bg-01;
  }

  tbody tr {
    box-shadow: none;
    border-radius: 4px;

    @include hover-focus() {
      position: relative;
      box-shadow: inset 0 0 0 1px $color-bd-02;
      z-index: 10;

      td { background-color: transparent; }
    }
  }

  tbody tr td {
    background-color: $body-bg;
    font-size: $font-size-sm;

    &:first-child {
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }
  }
}

.compete-chart {
  position: relative;
  height: 350px;
}

.breakdown-item {
  h2 {
    font-size: 28px;
    font-weight: 500;
    font-family: $font-family-secondary;
    color: $color-tx-01;
    margin-bottom: 8px;
    letter-spacing: -.5px;

    span {
      letter-spacing: normal;
      font-weight: 400;
    }
  }

  label {
    display: block;
    line-height: 1;
    margin-bottom: 2px;
    color: $color-tx-02;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .5px;
    text-transform: uppercase;

    span {
      letter-spacing: normal;
      text-transform: none;
      font-weight: 400;
      font-size: $font-size-xs;
      color: $color-tx-03;
    }
  }

  small {
    display: block;
    font-size: $font-size-xs;
    color: $color-tx-03;
  }
}
