
.pl-content {
  display: block;
  padding: 30px 25px;
}

.card-lead-details {
  border-color: $color-bg-02;
  @include shadow-smooth($color-bg-02);

  .card-body {
    padding: 25px;
  }
}

.lead-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.list-group-lead-dates {
  .list-group-item {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
    border-color: $color-bg-01;
    color: $color-tx-03;
    font-size: $font-size-sm;

    span:last-child {
      margin-left: auto;
      color: $color-tx-01;
      font-weight: $font-weight-medium;
    }
  }
}

.pl-lead-header {
  background-color: #fff;
  max-width: 100%;
  flex-basis: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;

  .media {
    align-items: center;
    min-width: 280px;

    .media-body { padding-right: 15px; }
  }

  .avatar {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    margin-bottom: 2px;
  }

  .dropdown-group,
  .btn-toolbar { margin-left: 15px; }

  .btn-group + .btn-group { margin-left: 20px; }

  .btn-group .btn {
    @include border-radius($border-radius-sm);

    &:not(.btn-icon) {
      font-size: $font-size-sm;
      padding-left: 12px;
      padding-right: 12px;

      i {
        font-size: 16px;
        margin-right: 8px;
      }
    }

    &.btn-icon:hover i { transform: scale(1.15); }
    &:not(.btn-transparent):hover { @include shadow-sharp($color-bg-02); }
    &:active { box-shadow: none; }
    &:not(:last-child) { @include border-right-radius($border-radius-sm); }

    + .btn:not(.btn-transparent) { margin-left: 5px; }
  }

  .dropdown-group { display: flex; }
  .dropdown-select + .dropdown-select { margin-left: 5px; }

  .dropdown-link { font-size: $font-size-sm; }
  .dropdown-link-owner {
    padding-left: 32px;

    &::before {
      content: '\F255';
      font-family: 'remixicon';
      font-size: 15px;
      position: absolute;
      top: 50%;
      left: 10px;
      line-height: 0;
      color: $color-tx-03;
    }
  }

  .dropdown-link-stage {
    padding-left: 10px;

    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin-right: 8px;
    }

    &.inquiry::before { background-color: $cyan; }
    &.contactmade::before { background-color: $teal; }
    &.tourset::before { background-color: $orange; }
    &.tourcompleted::before { background-color: $red; }
    &.waitlist::before { background-color: $yellow; }
    &.apppending::before { background-color: $pink; }
    &.appcomplete::before { background-color: $blue; }
  }

  .dropdown-menu-stage {
    min-width: 210px;

    .dropdown-item {
      display: flex;
      align-items: center;
      padding-top: 7px;
      padding-bottom: 8px;

      &::before {
        content: '';
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 100%;
        margin-right: 8px;
        margin-top: 1px;
      }

      &:first-child::before { background-color: $cyan; }
      &:nth-child(2)::before { background-color: $teal; }
      &:nth-child(3)::before { background-color: $orange; }
      &:nth-child(4)::before { background-color: $red; }
      &:nth-child(5)::before { background-color: $yellow; }
      &:nth-child(6)::before { background-color: $pink; }
      &:nth-child(7)::before { background-color: $blue; }
    }
  }

  .dropdown-item { font-size: $font-size-sm; }
}

.pl-lead-name {
  font-size: 20px;
  font-weight: 400;
  color: $color-tx-01;
  line-height: .9;
  margin-bottom: 5px;

  strong { font-weight: $font-weight-semibold; }
}

.pl-lead-sync {
  display: block;
  color: $color-tx-03;
  font-size: $font-size-sm;
}

.nav-pl-lead {
  border-bottom: 1.5px solid $color-bg-02;
  margin-bottom: 30px;

  .nav-link {
    padding: 0 0 10px;
    color: $color-tx-03;
    position: relative;
    outline: none;

    @include hover-focus() { color: $color-tx-02; }

    &::before {
      content: '';
      position: absolute;
      bottom: -1.5px;
      left: 0;
      right: 0;
      border-bottom: 1.5px solid $color-ui-01;
      display: none;
    }

    + .nav-link { margin-left: 25px; }

    &.active {
      color: $color-tx-01;
      &::before { display: block; }
    }
  }
}
