

.chat-group {
  .chat-item {
    display: flex;
    padding: 12px 15px;
    border-bottom: 1px solid $color-bg-01;

    @include hover-focus() {

      cursor: pointer;
    }

    &.active {
      background-color: #fff;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: -1px;
        right: 0;
        bottom: -1px;
        border-right: 1.5px solid $color-ui-01;
      }
    }
  }

  .chat-item-body {
    flex: 1;
    padding-left: 12px;
  }

  .chat-sender {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-sm;
    color: $color-tx-01;
    margin-bottom: 5px;

    small {
      color: $color-tx-03;
      font-size: 11px;
    }
  }

  .chat-text {
    font-size: $font-size-xs;
    color: $color-tx-03;
    margin-bottom: 0;
  }
}

.chat-icon {
  flex-shrink: 0;
  width: $height-base;
  height: $height-base;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  i {
    font-size: 21px;
    line-height: 0;
  }
}

.msg-header {
  height: $header-height;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-bg-02;

  > span {
    margin-left: auto;
    font-size: $font-size-sm;
    color: $color-tx-02;
  }
}

.msg-title {
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 10px;
}

.msg-body {
  position: relative;
  padding: 10px;
  height: calc(100% - #{$header-height});
  overflow-y: auto;
}

.msg-item {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}

.msg-item-reverse {
  flex-direction: row;

  .msg-avatar { background-color: $color-ui-01; }

  .msg-item-body {
    padding-left: 15px;
    padding-right: 0;
  }

  .msg-box {
    background-color: $gray-300;
    color: $color-tx-02;
  }
}

.msg-avatar {
  width: $height-base;
  height: $height-base;
  border-radius: 100%;
  background-color: $color-tx-01;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 18px;
    line-height: 1;
  }
}

.msg-item-body {
  padding-right: 15px;
}

.msg-box {
  border-radius: 4px;
  padding: 8px 15px;
  background-color: $green;
  color: #fff;
}

.msg-date {
  color: $color-tx-03;
  font-size: $font-size-xs;
  margin-top: 5px;

  strong {
    font-weight: $font-weight-medium;
    color: $color-tx-01;
    padding-right: 5px;
  }
}
