
.content-body-settings {
  display: flex;
}

.settings-sidebar {
  width: 210px;
  margin-right: 30px;

  .content-label {
    display: block;
    font-size: 10px;
    font-weight: 500;
    color: $color-tx-03;
    letter-spacing: .5px;
    line-height: 1;
    margin-bottom: 10px;
  }

  .nav { flex-direction: column; }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: $height-base;
    color: $color-tx-02;
    font-size: 14px;
    border-radius: 4px;
    outline: none;

    @include hover-focus() {
      background-color: $gray-100;
    }

    i {
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      margin-right: 15px;
    }

    &.active {
      background-color: $color-ui-01;
      color: #fff;

      i { color: inherit; }
    }

    + .nav-link { margin-top: 2px; }
  }
}

.settings-body {
  flex: 1;
  background-color: #fff;
  padding: 25px 30px 30px;
  border: 1px solid $color-bg-02;
  border-radius: $border-radius-md;
  box-shadow: $shadow-base;
  position: relative;

  .form-switch-wrapper {
    position: absolute;
    top: 25px;
    right: 30px;
    display: flex;
    align-items: center;

    span {
      margin-right: 10px;
      color: $color-tx-02;
      font-size: $font-size-sm;
    }
  }

  .select-wrapper {
    width: 300px;
    .select2-container { width: 100%; }
  }
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn {
    height: $height-base;
    border-width: 1.5px;
    font-weight: 500;

    i {
      font-size: 16px;
      font-weight: 400;
      margin-right: 5px;
    }
  }
}

.settings-footer {
  display: flex;
  align-items: center;
  padding-top: 25px;
  border-top: 1px solid $color-bg-01;

  .btn {
    &:focus { box-shadow: none; }
    + .btn { margin-left: 8px; }
  }
}

.media-sync {
  align-items: center;
  margin-bottom: 20px;

  .media-icon {
    width: 60px;
    height: 60px;
    background-color: $gray-100;
    border: 2px solid $gray-200;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    border-radius: 4px;
    color: $gray-300;
  }

  h5 {
    margin-bottom: 3px;
  }

  small {
    font-size: 11px;
    display: block;
    margin-bottom: 2px;
  }

  span {
    display: flex;
    align-items: center;
    font-size: $font-size-xs;

    i {
      font-size: $font-size-sm;
      position: relative;
      top: -.5px;
      margin-right: 2px;
      line-height: 1;
    }
  }
}

.card-sync {
  border-width: 0;
  border-radius: 0;

  .content-label { margin-bottom: 10px; }

  .custom-control {
    + .custom-control { margin-top: 5px; }
  }

  .checkbox-wrapper {
    padding-left: 24px;
    padding-top: 10px;

    .custom-control-label::before { border-radius: 3px; }
  }
}

.table-settings {
  margin-bottom: 0;

  thead th {
    font-weight: 400;
    font-size: $font-size-sm;
    font-weight: 400;
    color: $color-tx-03;
    padding: 0 0 10px;
    border-top-width: 0;
    border-bottom-width: 0;

    &:first-child { width: 40%; }
    &:not(:first-child) { width: 20%; }

    &:nth-child(2) { text-align: center; }

    &:nth-child(3),
    &:nth-child(4) {
      text-align: center;
    }
  }

  tbody td {
    padding: 10px 0;
    vertical-align: middle;
    border-color: $gray-200;

    &:nth-child(2) { text-align: center; }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      padding-left: 20px;
    }

    strong {
      color: $color-tx-01;
      font-weight: $font-weight-medium;
    }

    &.col-close {
      padding-top: 17px;
      padding-bottom: 17px;
    }

  }
}

.content-navbar-settings {
  box-shadow: none;
  padding: 0;

  .nav-group { height: $height-sm; }
  .nav-group .nav-link { min-width: inherit; }
}

.table-rent {
  margin-bottom: 8px;

  thead th {
    border-top-width: 0;
    border-bottom-width: 1px;
    padding-left: 0;
    font-size: $font-size-sm;
    font-weight: 400;
    color: $color-tx-02;
  }

  tbody tr:first-child td { border-top-width: 0; }
  tbody tr:last-child td { padding-bottom: 0; }

  tbody td {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: middle;

    .form-control,
    .custom-select {
      min-height: inherit;
      height: $height-xs;
      font-size: $font-size-sm;
      border-color: $input-border-color;
    }

    .remove {
      font-size: 18px;
      color: $color-tx-03;
      opacity: .5;

      @include hover-focus() {
        opacity: 1;
      }
    }
  }
}

.modal-dialog-competitor { max-width: 600px; }

.content-subtitle { font-size: 15px; }

.settings-group {
  font-size: $font-size-sm;

  .row {
    align-items: center;

    + .row { margin-top: 20px; }
  }

  input.form-control,
  .custom-select {
    border-radius: $border-radius-sm;
    height: $height-sm;
    font-size: inherit;

    &:focus {
      box-shadow: none;
      border-color: darken($input-border-color, 10%);
    }
  }

  .form-control { padding-left: 10px; }
  .custom-select { padding-left: 6px; }
  .custom-select.wd-130 { width: 130px; }
  .custom-select.wd-220 { width: 220px; }
  .custom-select.wd-190 { width: 190px; }

  small {
    font-size: 11px;
    color: $color-tx-03;
  }

  .custom-checkbox .custom-control-label::before {
    border-radius: 4px;
  }
}
