
.btn {
  min-height: $height-base;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: $border-radius-sm;
}

.btn-sm { min-height: 34px; }

.btn-secondary {
  background-color: rgba($color-bg-02, .6);
  border-width: 0;
  color: $color-tx-02;

  @include hover-focus() {
    background-color: $color-bg-02;
    color: $color-tx-02;
  }
}

.btn-transparent {
  background-color: transparent;
  color: $color-tx-02;

  &:active {
    box-shadow: none;
    background-color: transparent;
  }

  &:active:hover,
  &:hover {
    border-color: transparent;
    background-color: $color-bg-01;
    color: $color-tx-02;
  }
}

.btn-white {
  background-color: #fff;
  border-color: $border-color;
  color: $color-tx-02;

  @include hover-focus() {
    border-color: $color-bg-03;
    color: $color-tx-02;
  }
}

.btn-light {
  background-color: $color-bg-01;
  border-color: transparent;
  color: $color-tx-01;

  @include hover-focus() {
    color: $color-tx-01;
    background-color: $color-bg-02;
    border-color: transparent;
    box-shadow: none;
  }
}

.btn-icon {
  width: $height-base;
  height: $height-base;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 18px;
    line-height: 1;
    @include transition(all 0.25s);
  }
}

.btn-with-icon {
  i {
    font-size: 16px;
    line-height: .7;

    &:first-child { margin-right: 5px; }
  }
}
