.card-header {
  padding: 18px 20px;
}

.card-header-narrow {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-listing {
  border-color: $color-bd-02;
  border-width: 0;
  border-radius: 8px;
  background-color: #fff;
  //@include shadow-diffuse($color-bg-02);
  box-shadow: 0 10px 40px -10px rgba($gray-600,.2);

  .card-header {
    padding: 20px;
    border-bottom-color: $color-bg-02;
    background-color: transparent;
    display: flex;
    align-items: center;

    .btn {
      flex-shrink: 0;
      height: $height-lg;
      display: flex;
      align-items: center;

      i {
        font-size: 18px;
        line-height: 1;
        margin-right: 5px;
        text-indent: -3px;
      }
    }

    .nav-link {
      &::before { bottom: -21px; }

      &:first-child { @include border-left-radius(5px); }
      &:last-child { @include border-right-radius(5px); }
    }
  }

  .card-body { padding: 20px 30px 30px; }

  .table-responsive {
    overflow: inherit;
  }

  .table {
    border-collapse: collapse;
    border-bottom: 1px solid $color-bd-02;
    margin-bottom: 0;

    thead th {
      border-top-width: 0;
      border-bottom-width: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 11px;
      font-weight: 400;
      letter-spacing: .5px;
      text-transform: uppercase;
      color: $color-tx-03;

      &:first-child { padding-left: 15px; }
      &:last-child { padding-right: 15px; }
    }

    thead .sort {
      position: relative;

      &::after {
        content: '\EA74';
        font-family: 'remixicon';
        font-size: 10px;
        position: absolute;
        top: 0;
        right: -13px;
        opacity: .75;
      }
    }

    tbody tr {
      @include hover-focus() {
        td { background-color: $gray-100; }
      }
    }

    tbody td {
      padding: 10px;
      border-color: $color-bd-02;
      color: $color-tx-01;
      background-color: #fff;
      vertical-align: middle;

      &:first-child {
        font-weight: $font-weight-medium;
        padding-left: 15px;
      }

      &:last-child {
        text-align: right;
        padding-right: 15px;
      }
    }

    .nav { justify-content: flex-end; }
    .nav-link {
      padding: 0;
      color: $color-tx-02;
      font-size: 18px;
      line-height: 1;
      @include transition(all 0.25s);

      @include hover-focus() {
        color: $color-ui-02;
        transform: scale(1.15);
      }

      + .nav-link { margin-left: 10px; }
    }

    .dropdown-link {
      line-height: 1;
      display: block;
      color: $color-tx-03;
      padding-top: 3px;
      outline: none;

      @include hover-focus() { color: $color-tx-02; }

      i {
        font-size: 18px;
        line-height: .8;
      }
    }

    .dropdown-menu {
      min-width: 150px;
      border-width: 0;
      border-radius: 4px;
      box-shadow: $shadow-01;
      padding: 8px 5px;
      box-shadow: $shadow-03, $shadow-04;
    }

    .dropdown-item {
      color: $color-tx-02;
      padding: 8px 8px;
      border-radius: 3px;
      font-size: $font-size-sm;
      display: flex;
      align-items: center;

      @include hover-focus() {
        background-color: $color-light-01;
        color: $color-ui-01;
      }

      i {
        font-size: 18px;
        line-height: 1;
        margin-right: 8px;
      }
    }
  }

  .page-item {
    + .page-item { margin-left: 5px; }

    &:first-child .page-link { @include border-left-radius(5px); }
    &:last-child .page-link { @include border-right-radius(5px); }

    &.active .page-link {
      &,&:hover,&:focus {
        background-color: $color-ui-01;
        color: #fff;
      }
    }
  }

  .page-link {
    border-radius: 5px;
    border-width: 0;
    background-color: $color-bg-01;
    color: $color-tx-02;
    height: $height-xs;
    width: $height-xs;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include hover-focus() {
      background-color: $color-light-01;
      color: $color-ui-01;
      box-shadow: none;
    }
  }
}

.card-widget {
  border-color: $color-bg-02;
  position: relative;
  border-radius: $border-radius;
  @include shadow-dreamy($color-bg-02);

  .card-header {
    position: relative;
    padding: 22px 25px 25px;
    background-color: transparent;
    border-bottom-width: 0;
    @include border-top-radius(inherit);
  }

  .card-title {
    color: $color-tx-01;
    font-size: 16px;
    font-weight: $font-weight-semibold;
    margin-bottom: 0;
  }

  .card-body {
    position: relative;
    padding: 10px 30px 30px;

    &:last-child { @include border-bottom-radius(inherit); }
  }

  .card-footer {
    background-color: transparent;
  }
}

.card-widget-sm {

  .card-body { padding: 0 25px 25px; }

  .card-footer {
    padding: 0 25px 25px;
    border-top-width: 0;

    .btn:not(.btn-primary) {
      background-color: #fff;
      border-color: $gray-300;
      justify-content: center;
      height: $height-base;
      color: $color-tx-02;
      font-size: $font-size-sm;

      @include hover-focus() {
        box-shadow: none;
        color: $color-tx-01;
        background-color: #fff;
        border-color: rgba($color-tx-03, .5);
        box-shadow: $shadow-01, $shadow-02;
      }
    }
  }
}

.card-basic {
  border-color: $color-bg-02;
  border-radius: 6px;
  @include shadow-dreamy($color-bg-02);

  .card-header {
    background-color: transparent;
    border-bottom-color: rgba($color-bg-02, .6);
  }

  .card-title {
    font-size: 15px;
    font-weight: $font-weight-semibold;
    color: $color-tx-01;
  }

  .card-text {
    margin-bottom: 0;
    color: $color-tx-03;
    font-size: $font-size-sm;
  }

  .card-body { padding: 25px 30px 30px; }
  .form-group { margin-bottom: 20px; }

  .form-label-wrapper {
    display:  flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;

    .form-label { margin-bottom: 0; }
  }

  .form-info {
    display: block;
    line-height: .5;
    color: $color-tx-03;
    font-size: 16px;
  }

  .form-label {
    display: block;
    letter-spacing: .2px;
    font-size: $font-size-sm;
    color: $color-tx-02;
    line-height: 1;
    margin-bottom: 10px;
  }

  .form-control {
    border-radius: 5px;
    font-weight: 400;
    color: $color-tx-01;
    height: auto;
    text-shadow: none;
    @include transition(all 0.25s);

    &:focus {
      border-color: $color-bg-03;
      @include shadow-sharp($color-bg-02);
    }

    &::placeholder { color: $color-tx-03; }
  }

  input.form-control { height: $height-lg; }
  textarea.form-control { padding: 8px 12px; }
  .custom-select { height: $height-lg; }

  .form-desc {
    color: $color-tx-03;
    font-size: 11px;
  }

  .card-footer {
    background-color: transparent;
    border-top-color: $color-bg-01;
    padding: 20px;
  }
}
