.form-control {
  text-shadow: none !important;
  &::placeholder { color: $color-tx-03; }
}

.form-search {
  display: flex;
  align-items: center;
  height: $height-base;
  background-color: $color-bg-01;
  border: 1px solid transparent;
  border-radius: $border-radius;
  padding: 0 8px;

  &.onfocus {
    background-color: #fff;
    border-color: $border-color;
  }

  .form-control {
    margin-left: 8px;
    padding: 0;
    border-width: 0;
    border-radius: 0;
    min-width: 100px;
    height: auto;
    background-color: transparent;
    text-shadow: none;
    font-weight: $font-weight-medium;
    letter-spacing: -0.2px;

    &:focus { box-shadow: none; }

    &::placeholder {
      color: $color-tx-03;
      font-weight: 400;
    }
  }

  svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    stroke-width: 2.5px;
    color: $color-tx-02;
  }
}

.form-switcher {
  margin-bottom: 0;
  width: 30px;
  height: 16px;
  background-color: $green;
  border-radius: 10px;
  position: relative;
  @include transition(background-color 0.25s);

  @include hover-focus() {
    cursor: pointer;
    background-color: lighten($green, 2%);
  }

  &::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 2px;
    left: 16px;
    @include transition(left 0.25s);
  }

  &.inactive {
    background-color: $color-bg-02;
    @include hover-focus() { background-color: darken($color-bg-02, 5%); }

    &::before { left: 2px; }
  }
}

.form-btn-switch {
  display: flex;
  margin-top: 5px;

  .btn {
    background-color: rgba($gray-200, .6);
    border-radius: 0;
    color: $gray-600;

    @include hover-focus() {
      background-color: $gray-200;
    }

    &:first-child { @include border-left-radius(3px); }
    &:last-child { @include border-right-radius(3px); }

    + .btn { margin-left: 2px; }

    &.active {
      background-color: $color-ui-01;
      color: #fff;
      border-color: transparent;
      position: relative;
    }
  }
}

.form-group-bar {
  border-top: 1px solid $color-bg-01;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  min-height: 50px;

  .form-label {
    margin-bottom: 0;
    color: $color-tx-02;
  }

  &:nth-child(odd) { background-color: transparent; }
}

.form-group-custom {
  box-shadow: 0 0 0 1px rgba($gray-700, .3);
  border-radius: 4px;
  padding: 12px 14px;
  position: relative;
  @include transition(all 0.25s);

  @include hover-focus() {
    box-shadow: 0 0 0 1.5px rgba($gray-700, .5);
  }

  &.onfilled {
    box-shadow: 0 0 0 1px rgba($gray-700, .3);

    @include hover-focus() {
      box-shadow: 0 0 0 1.5px rgba($gray-700, .5);
    }

    .form-label {
      top: -10px;
      background-color: #fff;
      font-size: $font-size-xs;
      color: $gray-600;
    }
  }

  &.onfocus {
    &,&.onfilled {
      box-shadow: 0 0 0 1.5px $color-ui-01;
    }

    .form-label {
      top: -10px;
      background-color: #fff;
      font-size: $font-size-xs;
      color: $color-ui-01;
    }
  }

  .form-label {
    font-size: $font-size-md;
    color: $gray-500;
    margin-bottom: 0;
    position: absolute;
    top: 12px;
    left: 10px;
    background-color: transparent;
    padding: 0 4px;
    @include transition(all 0.25s);
  }

  .form-control {
    padding: 0;
    height: auto;
    border-width: 0;
    border-radius: 0;
    color: $gray-700;
    font-weight: $font-weight-medium;
    font-size: $font-size-md;
    text-shadow: none;
    background-color: transparent;
    position: relative;

    &:focus { box-shadow: none; }
    &::placeholder { opacity: 0; }
  }
}

.form-select {
  .select2-container--default  {
    .select2-selection--single,
    .select2-selection__arrow { height: $height-lg; }

    &.select2-container--focus .select2-selection--single {
      border-color: lighten($color-ui-01, 10%);
      box-shadow: 0 0 0 .5px lighten($color-ui-01, 10%), 0 1px 5px rgba($color-ui-02, .3);
    }
  }
}

.form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid $color-bg-03;
  border-radius: 3px;
  overflow: hidden;

  &::before {
    content: '\EB7A';
    font-family: 'remixicon';
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: 1px;
    left: 1px;
    line-height: 1;
    color: #fff;
    opacity: 0;
    z-index: 1;
  }

  input {
    position: absolute;
    top: 0;
    left: -20px;
    opacity: 0;
    z-index: -1;
  }

  &.checked {
    background-color: $color-ui-01;
    border-color: transparent;

    &::before { opacity: 1; }
  }
}

.form-onoff {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: $color-bg-02;
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
  //overflow: hidden;
  @include transition(background-color 0.25s);

  @include hover-focus() {
    span { box-shadow: 0 0 5px rgba(#000, .2); }
  }

  &::before {
    content: 'on';
    color: #fff;
  }

  &::after {
    content: 'off';
    color: $color-tx-03;
  }

  &::before,
  &::after {
    width: 24px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-family: $font-family-secondary;
    text-transform: uppercase;
  }

  span {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba($gray-900, .1);
    @include transition(left 0.25s);
  }

  &.active {
    background-color: $green;

    span { left: 27px; }
  }
}
