.modal-backdrop.show {
  background-color: desaturate($gray-900, 25%);
  opacity: .75;
}

.modal-content {
  border-width: 0;
  box-shadow: none;
  border-radius: 8px;

  .close {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    color: $gray-600;
    outline: none;
  }
}

.modal-title {
  font-weight: $font-weight-medium;
  font-size: 20px;
}

.modal-subtitle {
  color: $gray-600;
  margin-bottom: 0;
}

.modal-switch-account {
  .modal-dialog { max-width: 400px; }

  .modal-header {
    border-bottom-width: 0;
    padding: 25px 30px 30px;
  }

  .modal-title { margin-bottom: 5px; }

  .modal-body {
    padding: 0 30px 35px;
  }

  .content-label {
    font-size: 10px;
    color: $gray-500;
  }

  .media {
    padding: 10px 15px;
    align-items: center;
    border-radius: $border-radius;
    background-color: rgba($gray-200, .6);
    @include transition(all 0.2s);

    @include hover-focus() {
      background-color: $gray-100;
      box-shadow: 0 0 0 1.5px $color-ui-01;
    }

    &.active {
      background-color: $color-light-01;
      box-shadow: 0 0 0 1.5px $color-ui-01;
    }

    + .media { margin-top: 10px; }
  }

  .media-body {
    padding-left: 15px;

    h6 {
      font-weight: $font-weight-medium;
      margin-bottom: 3px;
      color: $gray-800;
    }

    p {
      font-size: $font-size-sm;
      margin-bottom: 0;
      color: $gray-600;
    }
  }
}

.modal-my-profile {
  .modal-dialog { max-width: 560px; }

  .modal-header {
    border-bottom-width: 0;
    padding: 25px 30px;
  }

  .avatar {
    width: 100% ;
    height: 140px;
    border-radius: $border-radius-lg;
    margin-bottom: 15px;

    span { font-size: 48px; }
  }

  .modal-body {
    padding: 0 30px;
  }

  .form-label {
    font-size: $font-size-sm;
    color: rgba($gray-600, .75);
  }

  .form-control {
    font-weight: $font-weight-medium;
    height: $height-lg;
    border-radius: 4px;
    border-width: 0;
    box-shadow: 0 0 0 1px rgba($gray-700, .3);
    text-shadow: none;

    &:focus {
      box-shadow: 0 1px 5px rgba($color-ui-02, .3), 0 0 0 1.5px lighten($color-ui-01, 10%);
    }
  }

  .change-password {
    margin-top: 25px;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    display: flex;
    align-items: center;

    @include hover-focus() { color: darken($color-ui-01, 5%); }

    i {
      margin-left: 3px;
      font-size: $font-size-base;
      line-height: 1;
    }
  }

  .btn {
    box-shadow: 0 1px 5px rgba($gray-900, 0.06);
    justify-content: center;

    @include hover-focus() {
      box-shadow: 0 1px 5px rgba($gray-900, .12);
    }
  }

  .modal-footer {
    padding: 30px;
    border-top-width: 0;

    .btn {
      height: $height-base;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0;

      + .btn { margin-left: 10px; }
    }
  }
}
