
.nav-line {
  .nav-link {
    padding: 0;
    color: $gray-500;
    outline: none;
    position: relative;

    @include hover-focus() {
      color: $gray-800;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $color-ui-01;
      display: none;
    }

    &.active {
      font-weight: $font-weight-medium;
      color: $gray-800;
      letter-spacing: -.2px;

      &::before { display: block; }
    }

    + .nav-link { margin-left: 30px; }
  }

  .with-icon {
    display: flex;
    align-items: center;

    i {
      line-height: 1;
      font-weight: 400;
      font-size: 14px;
      margin-top: 1px;
      margin-left: 3px;
    }
  }
}

.nav-pager {
  .nav-link {
    padding: 0;
    display: flex;
    width: $height-xs;
    height: $height-base;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-tx-03;
    outline: none;
    border: 1px solid $input-border-color;

    @include hover-focus() { color: $color-tx-02; }

    i {
      font-size: 24px;
      line-height: 0;
    }

    &:first-child { @include border-left-radius($border-radius-sm); }
    &:last-child { @include border-right-radius($border-radius-sm); }

    + .nav-link { margin-left: -1px; }
  }
}

.nav-icon {
  align-items: center;
  justify-content: flex-end;

  a {
    border-radius: 3px;
    color: $color-tx-03;
    line-height: 1;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition(all 0.2s);
    outline: none;

    @include hover-focus() {
      background-color: $color-bg-01;
      color: $color-tx-02;
    }

    span { display: block; }

    i {
      font-size: 18px;
      line-height: 1;
    }

    + a { margin-left: 2px; }
  }
}

.nav-steps {
  justify-content: center;

  .nav-link {
    padding: 0;
    position: relative;
    color: $color-tx-03;
    display: flex;
    align-items: center;

    + .nav-link {
      margin-left: 40px;

      &::before {
        content: '\EA6C';
        font-family: 'remixicon';
        position: absolute;
        top: 50%;
        left: -30px;
        line-height: 0;
        margin-top: 1px;
        color: $color-tx-03;
      }
    }

    &.active {
      color: $color-ui-01;

      span {
        background-color: $color-ui-01;
        color: #fff;
      }
    }

    &.done {
      color: $success;

      span {
        background-color: $success;
        color: #fff;
      }
    }
  }

  span {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background-color: $color-bg-02;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    color: $color-tx-03;
    font-size: $font-size-xs;
    font-weight: 400;
    font-family: $font-family-numeric;
  }
}

.nav-pills {
  border-radius: $border-radius;
  height: $height-base;

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    color: $color-tx-02;
    font-weight: $font-weight-medium;
    letter-spacing: -0.2px;
    border-radius: $border-radius-sm;
    outline: none;
    border: 1.5px solid transparent;

    @include hover-focus() {
      background-color: rgba($color-ui-01, .05);
    }

    span {
      margin-left: 8px;
      font-weight: 400;
      opacity: .5;
    }

    &.active {
      border-color: $color-ui-01;
      background-color: rgba($color-ui-01, .1);
      color: darken($color-ui-01, 10%);
    }

    + .nav-link { margin-left: 5px; }
  }
}

.nav-group {
  background-color: $color-bg-01;
  border-radius: $border-radius-sm;
  align-self: stretch;
  align-items: stretch;

  .nav-link {
    padding: 0 15px;
    color: $color-tx-02;
    font-weight: $font-weight-medium;
    border-radius: inherit;
    border: 1.5px solid transparent;
    display: flex;
    align-items: center;
    outline: none;

    span { margin-bottom: 2px; }

    small {
      font-weight: 400;
      font-size: $font-size-sm;
      font-family: $font-family-numeric;
      color: $color-tx-02;
      margin-left: 8px;
      opacity: .5;
    }

    &.active {
      border-color: lighten($color-ui-01, 12%);
      background-color: lighten($color-ui-01, 48%);
      color: $color-ui-02;
    }

    + .nav-link { margin-left: 2px; }
  }
}

.nav-multi {
  flex-direction: column;

  .nav-item {
    position: relative;

    + .nav-item { margin-top: 2px; }
  }

  .nav-item.toggle {
    .nav-link {
      &::before { transform: rotate(180deg); }
    }

    .nav-sub {
      padding-top: 6px;
      padding-bottom: 10px;

      li + li { margin-top: 12px; }

      .nav-sub-link {
        height: 21px;
      }
    }
  }

  .nav-item.active {
    .nav-link {
      background-color: $color-ui-01;
      color: #fff;
    }

    &.toggle .nav-sub {
      padding-top: 10px;
      padding-bottom: 6px;
    }
  }

  .nav-link {
    color: $color-tx-01;
    font-weight: 500;
    padding: 8.5px 10px;
    display: flex;
    align-items: center;
    position: relative;
    outline: none;
    border-radius: 4px;
    @include transition(all 0.25s);

    &:hover {
      color: $color-ui-01;
    }

    i {
      font-size: 20px;
      font-weight: 400;
      line-height: .7;
      margin-right: 8px;
    }

    &::before {
      content: '\EA4E';
      font-family: 'remixicon';
      font-size: 16px;
      font-weight: 400;
      position: absolute;
      top: 50%;
      right: 10px;
      line-height: 0;
      opacity: .5;
      @include transition(all 0.25s);
    }
  }

  .nav-sub {
    flex-direction: column;
    padding-left: 38px;
    @include transition(all 0.25s);

    li {
      position: relative;
      display: flex;
      align-items: center;
    }
  }

  .nav-sub-link {
    display: block;
    color: $color-tx-02;
    height: 0;
    overflow: hidden;
    outline: none;
    @include transition(all 0.25s);

    @include hover-focus() {
      color: $color-ui-01;
    }

    &.active {
      color: $color-ui-01;
    }
  }
}
