body {
  //-webkit-font-smoothing: antialiased;
	//-moz-osx-font-smoothing: grayscale;
}

.switch-property-show {
  overflow: hidden;

  .property-menu {
    visibility: visible;
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .backdrop {
    visibility: visible;
    opacity: 1;
  }
}

.backdrop {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($gray-700, .35);
  visibility: hidden;
  opacity: 0;
  @include transition(visibility 0.25s, opacity 0.25s);
}

.page-advanced-report {
  .report-drilldown-link { display: block; }
}
