
.header {
  background-color: #fff;
  position: relative;
  height: $header-height;
  z-index: 800;
  display: flex;
  justify-content: flex-end;
  @include transition(all 0.25s);
  border-bottom: 1px solid $color-bg-02;
  @include shadow-sharp($color-bg-01);
  //box-shadow: 65px 5px 10px 0 rgba($gray-700, .05);
}

.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-switch-menu {
  flex-shrink: 0;
  width: $header-height;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-tx-02;
  outline: none;
  border-right: 1px solid $color-bg-02;

  @include hover-focus() {
    color: $color-tx-01;
  }

  i {
    font-size: 24px;
    line-height: 1;
  }
}

.header-body {
  width: calc(100% - #{$header-height});
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;

  .dropdown-notification + .dropdown-notification { margin-left: 12px; }
}

.header-logo {
  display: flex;
  align-items: center;
  height: 32px;
  position: relative;
  outline: none;

  img {
    width: auto;
    height: 100%;
  }
}

.nav-header {
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  .nav-item {
    + .nav-item { margin-left: 40px; }

    &.show {
      .nav-sub { display: flex; }
    }
  }

  .nav-link {
    font-weight: 500;
    color: $color-tx-01;
    letter-spacing: -0.3px;
    position: relative;
    outline: none;
    padding: 0;

    &::before {
      content: '';
      position: absolute;
      bottom: -21px;
      left: 0;
      right: 0;
      height: 1.5px;
      background-color: $color-ui-01;
      display: none;
    }

    &.active {
      color: $color-ui-01;
      &::before { display: block; }
    }
  }

  .with-sub::after {
    content: '\EA4E';
    font-family: 'remixicon';
    font-size: 14px;
    font-weight: 400;
    line-height: 0;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-left: 1px;
    opacity: .85;
  }

  .nav-sub {
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    padding: 8px;
    margin-top: 15px;
    min-width: 180px;
    margin-left: -20px;
    display: none;
    z-index: 100;
    border-radius: $border-radius-md;
    @include shadow-dropdown();
  }

  .nav-sub-link {
    outline: none;
    padding: 8px 12px;
    color: $color-tx-02;
    border-radius: 5px;
    letter-spacing: -0.3px;
    //font-weight: $font-weight-medium;

    @include hover-focus() {
      background-color: $gray-100;
      color: $color-tx-02;
    }
  }
}

.header-link {
  margin-top: 5px;
  line-height: 1;
  display: block;
  font-size: 20px;
  color: $color-tx-01;
  outline: none;

  @include hover-focus() { color: $color-tx-01; }

  &.link-new {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background-color: $red;
      box-shadow: 0 0 0 1.5px #fff;
    }
  }
}

.dropdown-notification {
  .dropdown-menu {
    width: 320px;
    margin-top: 11px;
    margin-right: -10px;
    padding-bottom: 0;
    border-width: 0;
    border-radius: $border-radius-md;
    @include shadow-dropdown();
  }

  .dropdown-header {
    padding: 7px 0 15px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-bg-01;

    h6 {
      margin-bottom: 0;
      font-weight: $font-weight-semibold;
      font-size: 15px;
      color: $color-tx-01;
    }
  }

  .nav { display: none; }

  .list-group-item {
    outline: none;
    border-width: 0;
    padding: 10px 20px;
    border-radius: 0;
    display: flex;
    position: relative;

    @include hover-focus() {
      background-color: $gray-100;
    }

    + .list-group-item {
      margin-top: -1px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        border-top: 1px solid $color-bg-01;
      }
    }

    &.new {
      background-color: #fff;

      @include hover-focus() {
        background-color: $gray-100;
      }
    }

    .avatar {
      width: 40px;
      height: 40px;
      background-color: $color-bg-02;

      span {
        font-family: $font-family-secondary;
        font-size: $font-size-xs;
        color: #fff;
      }

      i {
        font-size: 20px;
        line-height: 1;
        color: $color-tx-02;
      }
    }
  }

  .list-group-body {
    margin-left: 12px;
    flex: 1;

    h6 {
      font-weight: $font-weight-medium;
      font-size: $font-size-sm;
      color: $color-tx-01;
      margin-bottom: 3px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 11px;
        font-weight: 400;
        font-family: $font-family-secondary;
        color: $color-tx-03;
      }
    }

    small {
      display: block;
      font-size: $font-size-xs;
      color: $color-tx-03;
      line-height: 1.4;
    }

    p {
      margin-bottom: 0;
      color: $color-tx-03;
      font-size: $font-size-sm;
    }
  }

  .dropdown-footer {
    margin: 0 20px;
    border-top: 1px solid $color-bg-01;
    padding: 10px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: $color-ui-01;
      font-size: $font-size-sm;

      @include hover-focus() {
        color: $color-ui-02;
        box-shadow: none;
      }
    }
  }
}

.dropdown-profile {
  margin-left: 20px;

  .dropdown-link { outline: none; }

  .profile-initial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: $dark;
    color: #fff;
    font-size: 14px;
    font-family: $font-family-secondary;
    flex-shrink: 0;
  }

  .dropdown-menu {
    width: 240px;
    min-height: 200px;
    margin-top: 8px;
    padding: 15px;
    border-width: 0;
    @include border-radius($border-radius-md);
    @include shadow-dropdown();
  }

  .dropdown-menu-header {
    padding: 10px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h6 {
      margin-bottom: 5px;
      font-size: $font-size-md;
      font-weight: $font-weight-medium;
    }

    small {
      font-size: $font-size-xs;
      color: $gray-500;
    }

    a {
      margin-top: 10px;
      letter-spacing: 1.5px;
      font-weight: 400;
      font-size: 11px;
      text-transform: uppercase;
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 9px 0;
      background-color: $color-ui-01;
      @include gradient-x($color-ui-01, lighten($color-ui-01, 3%));
      color: #fff;
      border-radius: 4px;

      @include hover-focus() {
        background-color: lighten($color-ui-01, 5%);
      }
    }
  }

  .profile-chat-status {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 500;
    font-family: $font-family-sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: $color-tx-03;
    padding-top: 15px;
    padding-bottom: 10px;

    .form-switcher { margin-left: 10px; }
  }

  .dropdown-profile-initial {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    background-color: $dark;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 300;
    font-family: $font-family-sans-serif;
    margin-bottom: 15px;
  }

  .dropdown-item {
    outline: none;
    padding: 8px;
    color: $color-tx-02;
    display: flex;
    align-items: center;
    border-radius: 4px;

    i {
      font-size: 21px;
      margin-right: 15px;
      line-height: .7;
      width: 18px;
    }

    @include hover-focus() {
      background-color: $color-bg-01;
      color: $color-tx-01;
    }
  }
}

.switch-password {
  .form-group { margin-bottom: 10px; }
  .form-control { height: 40px; }
}
